<div class="navbar navbar-inverse" role="navigation">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">--Perfect-Pitch--</a>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">Pickup lines</a></li>
            <li><a href="/">Interview</a></li>
            <li><a href="/">Product</a></li>
         </ul>
         <button type="button" style="margin-left:690px; border-radius:2em;"><a href="">Login</a></button>
         <button type="button" style="margin-left:690px; border-radius:2em;"><a href="">Register</a></button>
      </div>
   </div>
</div>
